
html
  overflow-x: hidden

body
  +font-smoothing(antialiased)
  background-color: #fff
  font-size: 15px
  padding: 0
  overflow-x: hidden

#livros2014
  +size(920px, 516px)
  background: #ebe8ca image-url("livros2014/layout/background.jpg")
  margin: 20px auto
  position: relative
  overflow: hidden

  section
    +size(920px, 516px)
    +posLT(0, 0)

  #bg-elements
    +size(920px, 516px)
    +posLT(0, 0)
    background: image-url("livros2014/layout/background-elements.png")
    display: none
    opacity: 0
